body {
  font-size: 10pt;
  background: #ddd;
  color: #000;
}

section {
  clear: both;
  width: 100%;
  padding-top:10px;
  margin: 0px auto;
}

#left {
  float: left;
  margin: 0 auto 0 auto;
  width: 550px;
  height: 500px;
  padding: 0 0;
  border: 1px solid black;
}

#right {
  float: right;
  margin: 0 auto 0 auto;
  min-width: 400px;
  max-width: 600px;
  width: 40%;
  height: 500px;
  padding: 0 0;
}

#right h1 {
  font-size: 16pt;
}

#right h2 {
  font-size: 14pt;
}

#alternatives {
  clear: both;
  padding-top:10px;
}
